:host {
    box-sizing: border-box;
    overflow: hidden;
    display : flex; 
    flex-direction: column;
    padding: 10px 10px;
    width: 100%;
    height: auto;
    font-family: var(--theme-font-family, 'Roboto');
    font-size: var(--font-size);
  }
   
  .content {
    display: flex;
    flex-direction: column;    
    width: 100%;
    height: 100%;
    color: var(--color);    
    overflow-y: auto;
    gap: 6px;    
    box-sizing: border-box;
  }

  .label {
    font-weight: bold;
  }

  .items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 10px;
  }

  .item {
    position: relative;
    display: flex;
    flex-direction: column;     
    cursor: pointer;
    width: 100%;
    height: 200px;
    direction: var(--direction);
    border-width: 1px;
    border-color: #e0e0e0;
    border-style: solid;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
  }

  .image {
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: center;
  }

  .texts {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
  }

  .label {    
  }

  .brands {
    display: flex;
    gap: 6px;
  }

  .brand {
    background-color: #7cb3e9;
    color: #ffffff;
    padding: 2px 6px;
    border-radius: 12px;
    font-size: 0.8em;
  }