<div class="content">

  <div class="label">{{ label() }}</div>

  @if(data()) {

  <div class="items">

    @for (product of data().products; track $index) {

    <div class="item">

      <div class="image" [style.backgroundImage]="'url(' + product.image_front_url + ')'"></div>

      <div class="texts">

        <div class="label">{{ product.product_name }} </div>

        <div class="brands">

          @for (brand of (product.brands.split(',')); track $index) {
            <div class="brand">{{ brand.trim() }}</div>
          }

        </div>

      </div>
    </div>
    }

  </div>

  } @else {
  Pas de données
  }

</div>